# Copy this template to `.env` to begin configuring your local development environment.

# Required

# Prisma
# @link https://www.prisma.io/docs/reference/database-reference/connection-urls#env

DATABASE_URL="mongodb://mongodb:27017/badgingsoln?replicaSet=rs0&directConnection=true"

# NextAuth

# NEXTAUTH_SECRET="" # Required in production.
NEXTAUTH_URL="http://localhost:3000"

# Microsoft Entra ID (Azure AD)
# @link https://next-auth.js.org/providers/azure-ad#example
AZURE_AD_CLIENT_ID=""
AZURE_AD_CLIENT_SECRET=""
AZURE_AD_TENANT_ID=""

# Optional

# DCC Status Service
# STATUS_SERVICE_URL: "http://status:4008"
# STATUS_LIST_URL: ""
# STATUS_LIST_ID: ""
